<div class="container">
  <div class="msg-box" fxLayout="column">
    <div class="msg-list" fxLayout="column">
      <div class="msg-body" *ngFor="let msg of messages">
        <div class="msg-body-author">{{ msg.author }}</div>
        <div class="msg-body-message">{{ msg.message }}</div>
        <div class="msg-body-datetime">date: {{ msg.datetime.substr(0, 10) }}</div>
      </div>
      <div class="msg-list-fetching" fxLayout="row" fxLayoutAlign="center center" *ngIf="isFetching">
        <mat-icon>
          <mat-spinner color="accent" diameter="30"></mat-spinner>
        </mat-icon>
      </div>
    </div>

    <div class="msg-form">
      <form (ngSubmit)="postMsg()" #f="ngForm" fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input
            type="text"
            name="author"
            required
            ngModel
            matInput
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Message</mat-label>
          <textarea
            name="message"
            required
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>
        <button
          [disabled]="f.invalid || isPosting"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Post
          <mat-icon *ngIf="isPosting">
            <mat-spinner color="accent" diameter="20"></mat-spinner>
          </mat-icon>
        </button>
      </form>
    </div>


  </div>
</div>



